{% include "layouts/head.tmpl" %}
{% include "layouts/header.tmpl" %}

<main class="main">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 order-3 order-lg-1">
                {% if isAuth %}
				
				{% include "quizes/your_quizes.tmpl" %}

                {% endif %}
			</div>

            <div class="col-lg-9 col-md-12 order-1 order-lg-2">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Редактирование вопроса</h4>
						<form action="/questions/save/" method="POST">
						<input type="hidden" name="qId" value="{{question.id}}">	
								<div class="row">
								
									<div class="col-lg-5 col-md-5 order-1">
										<div class="form-group">
											<label for="qCats">Категория вопросов</label>
											<select class="form-control" name="qCats">
											{% for cat in qcats %}
												{% if cat.id == question.qcat %}
													<option value="{{ cat.id }}" selected>{{ cat.cat_name }}</option>
												{% else %}
													<option value="{{ cat.id }}">{{ cat.cat_name }}</option>
												{% endif %}
											{% endfor %}
											</select>
										</div>
									</div>

									<div class="col-lg-5 col-md-5 order-2">
										<div class="form-group">
											<label for="qType">Тип вопроса</label>
											<select class="form-control" id="qType" name="qType" onChange="toggleAnswer(this)">
											{% for qtype in qtypes %}
												{% if qtype.id == question.qtype %}												
													<option value="{{ qtype.id }}" selected>{{ qtype.description }}</option>
												{% else %}
													<option value="{{ qtype.id }}">{{ qtype.description }}</option>
												{% endif %}
											{% endfor %}
											</select>
										</div>
									</div>
									
									<div class="col-lg-2 col-md-2 order-3">
										<div class="form-group">
											<label for="point">Баллы</label>
											<input type="text" class="form-control" name="point" value="{{question.point}}">
										</div>
									</div>
									
								</div>

								<div class="form-group">
									<label for="description">Описание вопроса</label>
									<textarea class="form-control" name="description" rows="10">{{question.description}}</textarea>
								</div>
								<div class="answerLabel">Варианты ответа</div>

							{% if question.qtype == 1 %}
								{% for answer in question.answers%}
									{% if loop.index==1 %}
										<div class="row answers" id="r1">
										
											<div class="col-lg-1 col-md-1 order-1">
												<div class="answerId">
														1
												</div>
											</div>
		
											<div class="col-lg-1 col-md-1 order-2">
												<div class="answerRadio">
														<label class="btn btn-primary">
															<input type="radio" name="rightAnswer" value="1" {% if answer.marker %} checked {% endif %}>
														</label>
												</div>
											</div>
											
											<div class="col-lg-10 col-md-10 order-3">
												<div class="answerDesc">
													<div class="form-group">
														<textarea class="form-control" name="answers[]" rows="2">{{answer.description}}</textarea>
													</div>
												</div>
												<div class="answerToggle">
													<a href="javascript:void(0)" onClick="addAnswer()"><i class="fa fa-plus" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>
									{% else %}	
										<div class="row answers" id="r{{loop.index}}">
										
											<div class="col-lg-1 col-md-1 order-1">
												<div class="answerId">
														{{loop.index}}
												</div>
											</div>
		
											<div class="col-lg-1 col-md-1 order-2">
												<div class="answerRadio">
														<label class="btn btn-primary">
															<input type="radio" name="rightAnswer" value="{{loop.index}}" {% if answer.marker %} checked {% endif %}>
														</label>	
												</div>
											</div>
											
											<div class="col-lg-10 col-md-10 order-3">
												<div class="answerDesc">
													<div class="form-group">
														<textarea class="form-control" name="answers[]" rows="2" value="">{{answer.description}}</textarea>
													</div>
												</div>
												<div class="answerToggle">
													<a href="javascript:void(0)" onClick="removeAnswer(this)"><i class="fa fa-minus" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>
									
									{% endif %}
								{% endfor %}
							{% elseif question.qtype == 2 %}
								{% for answer in question.answers%}
									{% if loop.index==1 %}
										<div class="row answers" id="r1">
										
											<div class="col-lg-1 col-md-1 order-1">
												<div class="answerId">
														1
												</div>
											</div>
		
											<div class="col-lg-1 col-md-1 order-2">
												<div class="answerRadio">
														<label class="btn btn-primary">
															<input type="checkbox" name="rightAnswer[]" value="1" {% if answer.marker %} checked {% endif %}>
														</label>
												</div>
											</div>
											
											<div class="col-lg-10 col-md-10 order-3">
												<div class="answerDesc">
													<div class="form-group">
														<textarea class="form-control" name="answers[]" rows="2">{{answer.description}}</textarea>
													</div>
												</div>
												<div class="answerToggle">
													<a href="javascript:void(0)" onClick="addAnswer()"><i class="fa fa-plus" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>
									{% else %}	
										<div class="row answers" id="r{{loop.index}}">
										
											<div class="col-lg-1 col-md-1 order-1">
												<div class="answerId">
														{{loop.index}}
												</div>
											</div>
		
											<div class="col-lg-1 col-md-1 order-2">
												<div class="answerRadio">
														<label class="btn btn-primary">
															<input type="checkbox" name="rightAnswer[]" value="{{loop.index}}" {% if answer.marker %} checked {% endif %}>
														</label>	
												</div>
											</div>
											
											<div class="col-lg-10 col-md-10 order-3">
												<div class="answerDesc">
													<div class="form-group">
														<textarea class="form-control" name="answers[]" rows="2" value="">{{answer.description}}</textarea>
													</div>
												</div>
												<div class="answerToggle">
													<a href="javascript:void(0)" onClick="removeAnswer(this)"><i class="fa fa-minus" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>
									
									{% endif %}
								{% endfor %}
							{% endif %}
							
							<button type="submit" class="btn btn-primary">Сохранить</button>
						</form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</main>
<!-- /.main -->

{% include "layouts/footer.tmpl" %}