{% include "layouts/head.tmpl" %}
{% include "layouts/header.tmpl" %}

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 order-1 order-lg-2">
                <div class="card mb-4">
                    <div class="card-body">
                        <h1 class="card-title text-center">Страница авторизации</h1>
                        <p class="card-text text-center">Если ранее зарегистрировались, зайдите на сайт, используя логин и пароль</p>
                        <div class="d-flex container">
                            <form  action="/auth/login" class="m-auto" method="post">
                                <div class="row justify-content-center">
                                    <label for="">Введите логин</label>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <div>
                                            <input type="text" name="login" placeholder="Логин" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <label for="">Введите пароль</label>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <div>
                                            <input type="password" name="pass" placeholder="Пароль" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <div>
                                            <input class="btn btn-info btn-lg" type="submit" value="Войти">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br>
                        <p class="p-2 text-center">Или зарегистрируйтесь</p>
                        <a class="nav-link-green-block text-center" href="/account/register">Регистрация</a>
                        <a class="nav-link-green-block text-center" href="/">Главная страница</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</main>
<!-- /.main -->

{% include "layouts/footer.tmpl" %}


