<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {{ data.title ??  "Hello World!" }}</title>
</head>
<body>
<div class="container">
    {{ data.content ?? "Данные не получены" }}
</div>
</body>
</html>