{% include "layouts/head.tmpl" %}
{% include "layouts/header.tmpl" %}

<main class="main">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 order-3 order-lg-1">
                {% if isAuth %}
				
				{% include "quizes/your_quizes.tmpl" %}

                {% endif %}
			</div>

            <div class="col-lg-9 col-md-12 order-1 order-lg-2">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Тесты</h4>
                        <table class="table"><tr>
                            <th class='cat_id'>ID</th>
                            <th class='cat_name'>Название</th>
                            <th class='cat_access'>Категория</th>
                            <th class='cat_parent'>Статус</th>
                            <th class='cat_access'>Удалить</th></tr>

                            {% for quiz in quizes %}
                                <tr>
                                <td>{{ quiz.id }}</td>
                                <td class='quiz_name'><a href="/quizes/edit/?id={{ quiz.id }}">{{ quiz.name }}</a></td>
                                <td class='cat_name'>{{ quiz.cat_name }}</td>

                                {%  if quiz.status %}
                                        <td class='cat_access cat_public'>public</td>
                                {% else %}
                                        <td class='cat_access cat_private'>private</td>
                                {% endif %}

                                <td class='cat_access'><a href="/quizes/delete/?id={{ quiz.id }}" id="{{ quiz.id }}">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i></a></td></tr>
                            {% endfor %}
                        </table>
                        <a href="/quizes/create/"><button type="submit" id="quizCreate" class="btn btn-primary">Создать</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</main>
<!-- /.main -->

{% include "layouts/footer.tmpl" %}