
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Ваши тесты</h4>
                        <a class="nav-link-green-block" href="/cats/">Категории тестов</a>
                        <a class="nav-link-green-block" href="/quizes/">Тесты</a>
                        <a class="nav-link-green-block" href="/qcats/">Категории вопросов</a>
                        <a class="nav-link-green-block" href="/questions/">Вопросы</a>
                    </div>
                </div>