$body-bg: #f8f8f8;
$border-radius: .25rem;
$dark-shadow: rgba(0, 0, 0, .3);
$gray-500: #adb5bd;
$gray-800: #212529;
$gray-900: #16181b;
$green-blue: #17a2b8;
$green-blue-dark: #177280;
$sky-bg: url('/static/img/bg.jpg');
$white: #fff;
