.header {
    background: $sky-bg no-repeat center;
    background-size: cover;

    color: $white;
    height: 200px;
    text-align: center;

    @media (max-width: 1199px) {
        .display-2 {
            font-size: 3.5rem;
        }
    }

    @media (max-width: 991px) {
        .display-2 {
            font-size: 3rem;
        }
    }

    @media (max-width: 767px) {
        height: 300px;

        .display-2 {
            font-size: 2rem;
        }
    }
}
