#quizTabContent{
	margin-top: 15px;
}
.qNumber{
	display: inline-block;
	width: 80%;
}
.plus-minus{
	display: inline-block;
	width:18%;
    font-size: 26px;
	text-align: right;
	padding-right: 10px;
	vertical-align: middle;
	margin-top: -7px;
}
.fright{
	float: right;
}
.fleft{
	float: left;
}
.table.narrow td, .table.narrow th{
	padding: 0.4rem 0.75rem;
}