{% include "layouts/head.tmpl" %}
{% include "layouts/header.tmpl" %}


<main class="main">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 order-3 order-lg-1">
                {% if isAuth %}
				
				{% include "quizes/your_quizes.tmpl" %}

                {% endif %}
            </div>

            <div class="col-lg-9 col-md-12 order-1 order-lg-2">
                <div class="card mb-4">

                    <div class="card-body">
                        <h4 class="card-title">Новая категория вопросов</h4>
		
		<form action="/qcats/save/">
			<div class="form-group">
				<label for="cat_name">Название категории</label>
				<input type="text" class="form-control" name="cat_name">
			</div>
			
			<button type="submit" class="btn btn-primary fright">Сохранить</button>
		</form>
		
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</main>
<!-- /.main -->


{% include "layouts/footer.tmpl" %}