{% include "layouts/head.tmpl" %}
{% include "layouts/header.tmpl" %}

<main class="main">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 order-3 order-lg-1">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Ваши тесты</h4>
                        <a class="nav-link-green-block" href="/cats/">Категории тестов</a>
                        <a class="nav-link-green-block" href="#">Тесты</a>
                        <a class="nav-link-green-block" href="/qcats/">Категории вопросов</a>
                        <a class="nav-link-green-block" href="#">Вопросы</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-9 col-md-12 order-1 order-lg-2">
                <div class="card mb-4">

                    <div class="card-body">
                        <h4 class="card-title">Категории вопросов</h4>
								<table class="table"><tr>
										<th class='cat_id'>ID</th>
										<th class='cat_name'>Название</th>
										<th class='cat_access'>Пользователь (uid)</th>
										<th class='cat_access'>Удалить</th></tr>
										
								{% for cat in cats %}
										<tr><td>{{ cat.id }}</td>
												<td><a href="/qcats/edit/?id={{ cat.id }}&cat_name={{ cat.cat_name }}">{{ cat.cat_name }}</td>
												<td class='cat_access'>{{ cat.user_id }}</td>
												<td class='cat_access'><a href="/qcats/delete/?id={{ cat.id }}" id="{{ cat.id }}">
												<i class="fa fa-times-circle" aria-hidden="true"></i></a></td></tr>
								{% endfor %}
								
								</table>
								<a href="/qcats/create/"><button type="submit" id="catCreate" class="btn btn-primary">Создать</button></a>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</main>
<!-- /.main -->


{% include "layouts/footer.tmpl" %}