{% include "layouts/head.tmpl" %}
{% include "layouts/header.tmpl" %}

<main class="main">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 order-3 order-lg-1">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Ваши тесты</h4>
                        <a class="nav-link-green-block" href="/cats/">Категории тестов</a>
                        <a class="nav-link-green-block" href="#">Тесты</a>
                        <a class="nav-link-green-block" href="/qcats/">Категории вопросов</a>
                        <a class="nav-link-green-block" href="#">Вопросы</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-9 col-md-12 order-1 order-lg-2">
                <div class="card mb-4">

                    <div class="card-body">
                        <h4 class="card-title">Редактирование категории</h4>
			
		<form action="/qcats/rename/">

		<div class="form-group">
				<input type="hidden" name="id" value="{{ catId }}">
				<label for="cat_name">Название категории</label>
				<input type="text" class="form-control" name="cat_name" value="{{ catName }}">
		</div>
			
			<button type="submit" class="btn btn-primary">Сохранить</button>
		</form>
		
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</main>
<!-- /.main -->


{% include "layouts/footer.tmpl" %}