<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3>Найди нас</h3>
                <a href=""><i class="fa fa-vk nav-link-green" aria-hidden="true"></i></a>
                <a href=""> <i class="fa fa-youtube nav-link-green" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-facebook nav-link-green" aria-hidden="true"></i></a>

            </div>

            <div class="col-lg-4 col-md-6 d-flex">
                <div class="m-auto">
                    <h3>Contacts</h3>
                    <address>
                        <b>GEEKTEST, Inc.</b><br> 630129 Market St, Suite 900<br> Москва
                        <br> P: (495) 456-7890
                    </address>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex">
                <div class="ml-auto">
                    <h3>Navigation</h3>
                    <nav class="nav flex-column">
                        <a class="nav-link-green-block" href="/">Главная</a>
                        <!--<a class="nav-link-green-block" href="#">О проекте</a>-->
                    {% if isAuth %}
                        <!--<a class="nav-link-green-block" href="/account/">Личный кабинет</a>//-->
                    {% else %}
                        <a class="nav-link-green-block" href="/account/register">Регистрация</a>
                    {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="logo logo-q" src="/static/img/logo.jpg" alt="logo">
        </a>
        <div>© copyright 2017</div>
    </div>
</div>


<!-- JS -->
</body>

</html>