<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="logo logo-q" src="/static/img/logo.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О проекте</a>
                </li>
                <li class="nav-item">
                    {% if isAuth %}
                        <a class="nav-link" href="/account/">Личный кабинет</a>
                    {% else %}
                        <a class="nav-link" href="#">Регистрация</a> 
                    {% endif %}
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if isAuth %}
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Выйти</button> 
                {% else %}
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Войти</button> 
                {% endif %}
            </form>
        </div>
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->


<header class="header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <h1 class="display-2">GEEKTEST</h1>
        <p class="lead">Самый удобный сервис прохождения тестов во Вселенной. Регистрируйся и проверяй себя!</p>
    </div>
</header>