<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="/static/css/app.css" />
    <meta charset="UTF-8">
    <title> {{ data.title ?? "Hello World!" }}</title>
</head>