<!DOCTYPE html>
<html lang="ru">
<head> 
    <meta charset="UTF-8">
    <!-- Useful meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">

    <script src="https://use.fontawesome.com/6dbc35c24b.js"></script>
    <script src="/static/js/app.js" async></script>
    <link rel="stylesheet" href="/static/css/app.css" />
    <title>Home</title>
</head>